<header>
  <div class="content-sticky" ng-sticky  [addClass]="'is-sticky'" [offSet]="0" >
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">TDT - Tartila dev team</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="">
                  <a routerLink="/">
                    Portfolio
                  </a>
              </li>
              <li>
                  <a routerLink="/about">
                    About As
                  </a>
              </li>
              <li>
                  <a (click)="goToContact()">
                    Contact
                  </a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
  </div>
</header>