header {
    width: 100%;
    background-color: white;
    height: 90px;    
    padding-top: 20px;
}

.navbar-default {
    background-image: none;
    box-shadow: none;    
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .95); 
    border: 0px;
    margin: 0px;
    border-radius: 0px;
}

.is-sticky {
    margin: 0px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    width: 100%;
    /*background-color: white;*/
    z-index: 9;
}

a {
    cursor: pointer;
}

a:hover {
    color: #01994d !important;
}

.content-sticky .container-fluid { 
    max-width: 1100px;
}

.content-sticky .container-fluid .navbar-collapse .navbar-nav {
    float: right;
}