
<div class="content">
<div class="row">
    <div class="col-lg-12 col-xs-12 title">
      Tartila dev team is a team of developers of web systems who strive to be the best
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xs-12 slogan">
        We develop not just websites, but unique products that not only satisfy our customers' requests, but do more.
    </div>
  </div>
  <div class="tagline">
      <div class="tegline-width-title">
        <div class="line">
          <hr/>
        </div>
        <div class="row">
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>
              GREAT CODE <br/>              
              A GREAT TEAM
            </b>
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>We are ambitious</b> - we are not afraid and tuned on large and interesting projects, throwing us a call.
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
              <b>We are experienced</b> - our staff has produced and provided technical support to many projects from a different direction.
          </div>
        </div>
        <div class="row">
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            Our development work in the field of IT least 3 years, never stand still and constantly develop to meet the needs of our clients
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>We are affordable</b> - our pricing policy makes our team available to all. We never charge for what we do
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
              <b>We are sufficient </b> - our team is all you need to realize your project..
          </div>
        </div>
      </div>
      <div class="tegline-width-title">
        <div class="line">
          <hr/>
        </div>
        <div class="row">
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>
              WITH US EASY<br/>
              TO DO BUSINESS
            </b>
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>We organized</b> - our workflow is designed for maximum performance and quality necessary for you.
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
              <b>We are responsible</b> - we understand what is at stake. Our reputation means everything to us.
          </div>
        </div>
        <div class="row">
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
              Your business means everything to us. We cherish your ideas, and are also always as honest and open in front of you
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
            <b>We are modern</b> - our solutions always comply with modern trends.
          </div>
          <div class="cell col-lg-4 col-sm-4  col-xs-12">
              <b>We are experts</b> - we have already found solutions to all problems that may arise in the course of work, and if not, we'll find them.
          </div>
        </div>
      </div>
  </div>
  <div class="team-row">
    <div class="title">
      Our team
    </div>
    <div class="body">
        <app-team-item></app-team-item>
        <app-team-item></app-team-item>
        <app-team-item></app-team-item>
        <app-team-item></app-team-item>
        <app-team-item></app-team-item>
    </div>
</div>
</div>