.content {
    max-width: 1100px;
    margin: 0px auto;
    padding: 0px 14px;
}
.title {
    font-size: 46px;
    font-weight: 500;
    line-height: 66px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.slogan {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 80px;
    text-align: center;
}

.tagline .row .cell {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4px;
    /*height: 88px;*/
    margin-bottom: 30px;
}

@media screen and (max-width:465px) {
    .tagline .row .cell {
        height: 95px;
    }
}

@media screen and (min-width:466px) and (max-width:750px) {
    .tagline .row .cell {
        height: 48px;
    }
}

@media screen and (min-width:750px) and (max-width:1050px) {
    .tagline .row .cell {
        height: 125px;
    }
}

.tagline-title {
    padding-top: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0px auto;
}

.line hr {
    background-color: #01994d;
    width: 140px;
    height: 1px;
    border: 0px;
    text-align: center;    
}

.team-row .title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
}

.team-row .body {
    text-align: center;
    margin-top: 90px;
}