.item-team img{
    height: 128px;
    width: 128px;
    border: 1px solid #e4e4e4;
    border-radius: 64px;    
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.item-team {
    width: 250px;
    text-align: center;
    display: inline-block;
    margin: 0px 2px 60px 2px;
    padding: 0px 20px;
}

.position {
    font-size: 100%;
    font-weight: bold;
}

.full-name {
    font-style: italic;
}