<div class="item-team">
  <img src="/assets/dima.jpg">
  <p class="position">
    Web-разработчик
  </p>
  <p class="full-name">
    Dmitry Dmitry
  </p>
  <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
