<div class="footer" #content>
  <div class="content row" id="contact">
    <div class="col-lg-6 col-xs-12">
      <div class="form-title">
          Feedback
      </div>
      <form method="POST" action="https://formspree.io/vladimirruzhyn@gmail.com">
        <input type="email" name="email" class="col-sm-12 email" placeholder="Your email">
        <br/>
        <textarea name="message" class="col-sm-12 message" placeholder="Your message"></textarea>
        <br/>
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="form-title">
          How to contact us
        </div>
        <div class="contact-info">
            <i class="fas fa-map-marked-alt"></i>Bucha <br>
            <i class="fas fa-phone"></i> +38 (063) - 479 - 90 - 88<br>        
            <i class="far fa-paper-plane"></i>info@appsmob.ru<br/>
            <i class="fab fa-skype"></i>andrii.soroka           
        </div>
    </div>
  </div>
</div>
<div class="footer-menu row">
  <div class="footer-menu-content">
    <a href='/'>
      Main
    </a>
    <br/>
    <a href='/'>
      Portfolio
    </a>
    <br/>
    <a href='/about'>
      About Us
    </a>
  </div>
</div>
