.content {
    max-width: 1100px;
    margin: 0px auto;
    color: #bbb;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 20px;
}

.contact-info{
    line-height: 40px;
}

.content>div {
    padding: 0px 10px 30px 15px;
}

.footer {
    background-color: #393f43;

    padding-top: 40px;
    padding-bottom: 40px;
}

.form-title {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.email {
    width: 100%;
    margin-bottom: 20px;
    color: #252525;
    border: none;
    border-bottom: 1px solid #2a2f37;
    background-color: #2f3539;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    border-radius: 5px 5px;
}

.message{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: #252525;
    border: none;
    border-bottom: 1px solid #2a2f37;
    background-color: #2f3539;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    height: 150px;
    border-radius: 5px 5px;
}

input:focus,
textarea:focus {
    color: #ddd;
    background-color: #01994d;
    outline: none;
}

button {
    font-size: 13px;
    font-weight: 500;
    padding: 12px 35px;
    text-transform: uppercase;
    border-radius: 3px 3px;
    color: #fff;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    -webkit-transition: all .50s ease-in-out;
}

.contact-info i {
    font-size: 18px;
    padding-right: 25px;
}

.footer-menu {
    background-color: #2f3539;
    width: 100%;
    margin: 0px;
}

.footer-menu-content {
    max-width: 1100px;
    margin: 0px auto;
    padding: 10px 50px;;
    font-size: 14px;
    line-height: 26px;
}

.footer-menu-content a {
    color: #656565;
    text-decoration: none;
    cursor: pointer;
}

.footer-menu-content a:hover {
    color: #01994d;
}