<div class="container">
<div class="row">
  <div class="col-md-6 col-sm-12 image-conteiner">
    <img class="half-image" [src]="item.imageFirstPath">
  </div>
  <div class="col-md-6 col-sm-12 content-conteiner">
    <div class="main-title">
      {{item.title}}
    </div>
    <div class="description"  [innerHTML]="item.fullDescription">
    </div>
    <div class="technologies">
      <b>Technologies used:</b>

          <div class="list-content">
          <ng-template ngFor let-value [ngForOf]="item.technologiesList" let-i="index">
              <span class="title">{{value.title}}:</span>{{value.content}}<br/>    
          </ng-template>
        </div>  
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 content-conteiner" >
      <div class="worked-head">
          Our developers worked on:
      </div>
      <ul class="worck-list" *ngIf="item.worck.type == 'list'">
        <li *ngFor="let item of item.worck.list">
          {{item}}
        </li>
      </ul>
      <div class="worck-list" *ngIf="item.worck.type == 'description'">
          {{item.worck.list}}
      </div>
    </div>
    <div class="col-md-6 col-sm-12 image-conteiner">
      <img class="half-image" [src]="item.imageSecondPath">
    </div>
</div>
</div>
