.half-image {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.technologies>b {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 20px;
}

.description {
    line-height: 25px;
    margin-bottom: 40px;
    /*height: 155px;*/
}

.description p {
    text-indent: 1.5em;
    margin: 0px;
}

.image-conteiner {    
    padding: 0 5px;
}

.list-content {
    line-height: 25px;
}

.list-content .title {
    width: 170px;
    display: inline-block;
}

.content-conteiner {
    /*padding-left: 25px;
    padding-right: 25px;*/
    font-size: 17px;
}

p {
    text-indent: 1.5em;
}

.worked-head {
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 20px;
}

.worck-list li {
    margin-bottom: 10px;
}

.worck-list {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    padding: 0 25px;
}



@media screen and (max-width: 1490px) and (min-width: 1475px)  {


    .content-conteiner {
        font-size: 14px;
    }

}



@media screen and (max-width: 1476px) and (min-width: 1201px)  {

    .main-title[_ngcontent-c3] {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .content-conteiner[_ngcontent-c3] {
        font-size: 14px;
    }

    .description[_ngcontent-c3] {
        line-height: 18px;
        margin-bottom: 25px;
    }

}



@media screen and (max-width: 1200px) and (min-width: 1080px)  {


    .main-title {
        text-align: center;
        font-weight: bold;
        font-size: 21px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .description {
        line-height: 18px;
        margin-bottom: 10px;
    }

    .technologies > b {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .list-content {
        line-height: 19px;
    }


    .content-conteiner {
        font-size: 15px;
      
    }
}



@media screen and (max-width: 1079px) and (min-width: 992px)  {


    .main-title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .description {
        line-height: 14px;
        margin-bottom: 10px;
    }

    .technologies > b {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .list-content {
        line-height: 18px;
    }


    .content-conteiner {
        font-size: 12px;
    }

}



@media screen and (max-width: 992px)  {


   
    .content-conteiner {
        /*padding-left: 6%;
        padding-right: 6%;*/
    }
}