<div class="bar"  (mouseover)='hoverImg()' (mouseout)='hoverImg()'>
    <img [src]="imagePath">
    <div class="content" [@visibilityChanged]='opacity'>
      <div [style.background-color] = "hovColor">
          <div  class="title">{{title}}</div>
          <div class="descrition">{{descritpion}}</div>
          <div class="teh-title">Technologies used:</div>
          <div class="teh">{{technologies}}</div>
          <div class="action">
            <a routerLink="item/{{id}}">More</a>
          </div>
      </div>
    </div>
  </div>